################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#OOP/03.InterfacesAndAbstraction/InterfaceAndAbstraction-Exercise/03.Telephony.v03/Models/StationaryPhone.cs
